.fahad{
    border: 2px solid black;
    border-collapse: collapse;
    border-width: 100%;
    background-color: aqua;
    text-align: left;
    color: blue;
    
}

.fahad1 {
    color: black;
    border: 2px solid green;
    border-collapse: collapse;
    background-color:turquoise;
}
